*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item{
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 6rem 0;
    margin: 40px auto;
   
}



